<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="loginpage.component.css">
</head>

<body>
  <form class="login-form">
    <h1>Welcome</h1>
    <input type="email" placeholder="Email Address">
    <input type="password" placeholder="Password">
    <a href="#" class="forgot-password">Forgot Password</a>
    <button class="login-button">Login</button>
    <div class="signup-link">
        Don't have an account? <a href="#">SignUp</a>
    </div>
  </form>
</body>
</html>